@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/DinoDiner-32.png"/>
<nav>
	<ul>
		<li><a asp-page="Menu">Menu</a></li>
		<li><a asp-page="Privacy">Privacy</a></li>
		<li><a asp-page="About">About</a></li>
	</ul>
</nav>